# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
next-env.d.ts

# TypeScript build cache
*.tsbuildinfo

# Lock files (managed per environment)
package-lock.json
pnpm-lock.yaml

# Build outputs
dist
build

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Netlify
.netlify
